<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>bookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <context-param>
    <param-name>drv</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/bookstore</param-value>
  </context-param>
  <context-param>
    <param-name>usr</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pwd</param-name>
    <param-value></param-value>
  </context-param>
  
  
  <filter>
        <filter-name>CharEncodingFilter</filter-name>
  	<filter-class>Filter.CharEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
    <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>Filter.SecurityFilter</filter-class>
  </filter>	
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
        <url-pattern></url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
  </filter-mapping>  
  
  
  <servlet>
    <description>初始化系统设置</description>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>servlet.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<description>用户信息管理</description>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>servlet.userServlet</servlet-class>
  </servlet>
  <servlet>
    <description>书籍信息管理</description>
    <servlet-name>bookServlet</servlet-name>
    <servlet-class>servlet.bookServlet</servlet-class>
  </servlet>
  <servlet>
  <description>评论信息管理</description>
    <servlet-name>commentServlet</servlet-name>
    <servlet-class>servlet.commentServlet</servlet-class>
  </servlet>
  <servlet>
   <description>管理员信息管理</description>
    <servlet-name>managerServlet</servlet-name>
    <servlet-class>servlet.managerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>订单信息管理</description>
    <servlet-name>orderServlet</servlet-name>
    <servlet-class>servlet.orderServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/servlet/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/servlet/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bookServlet</servlet-name>
    <url-pattern>/servlet/bookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>commentServlet</servlet-name>
    <url-pattern>/servlet/commentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>managerServlet</servlet-name>
    <url-pattern>/servlet/managerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>orderServlet</servlet-name>
    <url-pattern>/servlet/orderServlet</url-pattern>
  </servlet-mapping>
  
</web-app>